<div class="container" id="desktop-contact">
  <div class="row">
    <div class="col sm-6" id="contact-field">
      <ul>
        <li><h1> Contact</h1></li><br></br>
        <li><i class="far fa-envelope" id="contact-icons"></i><a style="color:#212529;text-decoration:none" href="mailto:aubree.laura@gmail.com" target="_top"><p>&nbsp; / aubree.laura@gmail.com</p></a></li>
        <li><i class="fab fa-instagram" id="contact-icons"></i><a style="color:#212529;text-decoration:none" href="https://www.instagram.com/aubreelaura" target="_blank"><p>&nbsp; / @aubreelaura </p></a></li>
        <li><i class="fab fa-linkedin-in" id="contact-icons"></i><a style="color:#212529;text-decoration:none" href="https://www.linkedin.com/in/laura-aubrée-27bb8a135" target="_blank"><p>&nbsp; / Laura Aubrée </p></a></li>
      </ul>
    </div>
    <div class="col sm-6" id="contact-field">
        <a href="/images/contact/Dualité_05.jpg" class="pop gallery">
          <img class="contact-img" src="/images/contact/Dualité_05.jpg">
        </a>
    </div>
  </div>
</div>

<div class="row" id="mobile-contact">
  <div class="col-sm" id="contact-field"><ul>
    <ul>
      <li><h1> Contact</h1></li><br></br>

      <li><i class="far fa-envelope" id="contact-icons"></i><a style="color:#212529;text-decoration:none" href="mailto:aubree.laura@gmail.com" target="_top"><p>aubree.laura@gmail.com</p></a></li>
      <li><i class="fab fa-instagram" id="contact-icons"></i><a style="color:#212529;text-decoration:none" href="https://www.instagram.com/aubreelaura" target="_blank"><p>@aubreelaura </p></a></li>
      <li><i class="fab fa-linkedin-in" id="contact-icons"></i><a style="color:#212529;text-decoration:none" href="https://www.linkedin.com/in/laura-aubrée-27bb8a135" target="_blank"><p>Laura Aubrée </p></a></li>
    </ul>
  </div>
</div>