

<div class="container">
  <img class="mySlides w3-animate-fading" src="/images/home/Patagonia-019.jpg">
  <img class="mySlides w3-animate-fading" src="/images/home/25520021-2.jpg">
  <img class="mySlides w3-animate-fading" src="/images/home/collodion184.jpg">
  <img class="mySlides w3-animate-fading" src="/images/home/expo revelat04.jpg">
  <img class="mySlides w3-animate-fading" src="/images/home/julien pola.jpg">
  <img class="mySlides w3-animate-fading" src="/images/home/Argentina-019.jpg">
</div>