h1 {
  font-family: 'PT Serif', serif;
}

#desktop-title {
  color:#212529;
  font-style: bold;
  padding-top: 32px;
}

#main-title {
  display:flex;
  justify-content:center;
}

@media (min-width: 800px) {

  #mobile-gallery {
    display:none !important;
  }

  #desktop-title {
    padding-bottom: 32px;
  }

  #desktop-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 4px;
    padding-bottom: 60px;
    justify-content: center;
  }

  #img-column a {
    text-decoration: none;
  }

  #img-column img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    padding: 10px;
  }

  #img-column img {
    margin-top: 8px;
    vertical-align: middle;
    transition: 0.3s;
  } 

  #img-column img:hover {
    opacity: 0.5;
  } 

}

@media (max-width: 800px) {

#desktop-title {
  margin-bottom: 30px;
}


#desktop-gallery  {
    display:none !important;
  }

  .header {
    text-align: center;
    padding-top: 32px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #mobile-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: center;
  }

  #img-column img {
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 100%;
    max-width: 75%;
    margin-top: 8px;
    vertical-align: middle;
    transition: 0.3s;
  } 

  #img-column img:hover {
    opacity: 0.5;
  } 

}